* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  background-color: #fff;
}

.navbar {
  padding: 1% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.r-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40%;
}

.logo {
  width: 26px;
  height: 26px;
  background-color: lightgray;
  border-radius: 50%;
}
.r-nav h3 {
  font-family: "Amiri";
  color: #285e67;
  text-transform: uppercase;
  width: 52px;
}

.l-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.l-nav p {
  font-family: "Amiri";
  color: #2d2d2d;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.l-nav p:hover {
  color: #285e67;
  transform: scale(1.3);
  font-weight: 700;
  padding-right: 5px;
}

.hero-section {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.hero-section h1 {
  font-family: "Cairo", Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 60.34px;
  text-align: center;
  color: #2a2a2a;
}
.hero-section p {
  color: #2b2b2b;
  font-size: 16px;
}
.btn {
  background-color: #285e67;
  color: white;
  width: 151px;
  border-radius: 67px;
  height: 46px;
  font-size: 17.33px;
  margin: 30px;
  border: none;
  cursor: pointer;
  /* padding: 10px 20px; */
}
.images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.images img {
  width: 526px;
  height: 290px;
  border-radius: 16px;
}

.section-two {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.section-two-info {
  width: 589px;
  background-color: lightgray;
}

.section-two-info h2 {
  background-color: lightgray;
  font-size: 50.52px;
  color: #2b2b2b;
  font-family: "Cairo", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.section-two-sub {
  background-color: lightgray;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub {
  width: 260px;
  background-color: lightgray;
}
.sub p {
  background-color: lightgray;
}

.sub_one {
  margin-right: 69px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}
.icon {
  width: 48px;
  height: 47px;
  background-color: #285e67;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  font-size: 20px;
  margin-bottom: 20px;
}

.section-two-vector {
  width: 651px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.section-two-vector img {
  width: 291px;
  background-color: lightgray;
}
